<div>
  <h3>BehaviorSubject</h3>

  <p>BehaviorSubject is a Subject -- an Observable and an Observer.</p>

  <form>
    <input type="text" #inbox [(ngModel)]="toEmit" name="toEmit">
  </form>
  <button (click)="onEmit()">Fire next()</button>
  <p>Value Observed (with async pipe): {{ observable | async }}</p>

  <hr/>

  <p>BehaviorSubject makes the last value observed available to new observers.</p>

  <button (click)="subscribe()">Subscribe</button>
  <button (click)="unsubscribe()">Unsubscribe</button>

  <p>Value Observed (from new observable): <span [innerHtml]="observedFromSubscription"></span> </p>

  <hr/>

  <p>BehaviorSubject can also be used to implement an event bus that shuttles values among components. The below two
     components use an EventBusService which wraps a BehaviorSubject to communicate.
  </p>

  <div style="border: 1px solid black; margin: 5px;">
    Component 1
    <app-sender></app-sender>
  </div>
  <div style="border: 1px solid black; margin: 5px;">
    Component 2
    <app-listener></app-listener>
  </div>
</div>
