<div style="margin-bot: 16px;">

  <ng-container *ngFor="let group of linkGroups">
    <span style="display: inline-block; min-width: 75px;"><b>{{group.groupName}}</b></span>
    &nbsp;|&nbsp;
    <ng-container *ngFor="let nav of group.links">
      <span><a [routerLink]="nav.link">{{ nav.title }}</a>&nbsp;|&nbsp;</span>
    </ng-container>
    <br/>
  </ng-container>
</div>

<span class="glyphicon glyphicon-refresh glyphicon-spin spinner" *ngIf="loading"></span>
<router-outlet></router-outlet>

